.json-key {
  color: rgb(184, 61, 61);
}
.json-value {
  color: rgba(15, 15, 150, 0.7);
}
.json-boolean {
  color: rgba(15, 15, 150, 0.7);
}
.json-string {
  color: #666600;
}
.hljs-attr {
}
.hljs-string {
  color: #099eac;
  font-weight: 400;
}
::selection {
}
.hljs-number {
  color: rgb(184, 61, 61);
  font-weight: 400
}
.gridRow:not(:last-child) {
  border-bottom: 1px dotted #909090
}