pre {
  display: inline-block;
  margin: 0;
  font-size: 1.1rem;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}
.json-key {
  color: rgb(184, 61, 61);
}
.json-value {
  color: rgba(15, 15, 150, 0.7);
}
.json-boolean {
  color: teal;
}
.json-string {
  color: olive;
}
.gridRow:not(:last-child) {
  border-bottom: 1px dotted #c8c8ea
}